<div class="board">
  <!-- < % byebug %> -->
  <% board_state = board.state.split('') %>
  <% board_state.each_with_index do |cell, index| %>
    <div class="cell">
      <% if cell == "-" %>
        <%= link_to cell, board_path(board.id, position: index), method: :patch, remote: true %>
      <% else %>
        <%= cell %>
      <% end %>
    </div>
  <% end %>
  <!-- < % byebug %> -->
</div>